nav{
    width:100%;
    background-color:#333333ff;
    text-align:center;
    padding-top:7px;
}

main,h1{
    text-align: center;
    color: black;
    padding-bottom: 50px;
}

.espacio{
    padding-bottom: 10px;
    text-align: left;
}

a{
    display:inline-block;
    height:30px;
    width:100%;
    color:white;
    text-decoration:none;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

footer{
    width:100%;
    background-color:#333333ff;
    text-align:center;
    color:white;
    margin-top:10px;
    height:50px;
    padding-top:10px;
}

ul,li{
    display: inline-block;
    padding-right: 25px;
}